.navbar-component-top {
    z-index: 1200;
}

.navbar-btn-style{
color:white!important;
}

.navbar-style{
background-color:#003285!important;
}

@media only screen and (max-width: 600px) {
.secondary-title {
   display: none;
  }
}